* {
	font-family: sans-serif;
	color: #fcf7f9;
	margin: 0;
	padding: 0;
	border: none;
}

h1 {
	margin: 0;
}

body {
	background-color: #1d1b1d;
}

.title {
	font-size: 1.5rem;
}

.spam-filter {
	padding: 2%;
}

.spam-filter__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.spam-filter__form-wrapper {
	width: 48%;
}

.spam-filter__title {
	font-size: 1.3rem;
	color: #6495ee;
}

.spam-filter__form {
	display: flex;
	flex-direction: column;
}

.form__label {
	font-size: 1rem;
	margin-top: 30px;
}

.form__label_special {
	font-weight: 900;
}

.form__input {
	padding: 1%;
	margin-top: 10px;
	background-color: #1d1b1d;
	outline: none;
	border: 2px dashed #6495ee;
	resize: none;
}

.button {
	width: 150px;
	height: 40px;
	margin-top: 30px;
	font-weight: 900;
	background-color: #6495ee;
	cursor: pointer;
}

.button:hover {
	background-color: #4e75bc;
}

.spam-filter__chat {
	width: 48%;
}

.chat__wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.chat__item {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px dashed #6495ee;
}

.chat__item-wrapper {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.chat__photo-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.chat__name {
	padding-top: 10px;
	font-size: 0.9rem;
	font-weight: 900;
	color: #6495ee;
	text-align: center;
}

.chat__comment {
	width: 77%;
	font-size: 0.9rem;
	line-height: 140%;
}
